*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 18px;
}

.flex__box {
  display: flex;
}

.flex__box--vc {
  align-items: center;
}

.flex__box--hc {
  justify-content: center;
}

.flex__item {
  flex: 1;
}

h3 {
  font-size: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;

  color: white;
  text-align: center;

  background: black;
}

.form {
  width: 30rem;
  max-width: 100%;
}

.text--center {
  text-align: center;
}

.form__field {
  margin: 1rem 0;
}

.form__field label {
  display: inline-block;
  padding: 0.25rem 1rem;

  color: #666;
  font-size: 0.75rem;
}

.form__control {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #f0f0f0;

  width: 100%;
}

.form__submit {
  margin: 2rem 0;
}

form button {
  width: 100%;
}
