*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 18px;
}

.flex__box {
  display: flex;
}

.flex__box--vc {
  align-items: center;
}

.flex__box--hc {
  justify-content: center;
}

.flex__item {
  flex: 1;
}

h4 {
  font-size: 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;

  color: white;
  text-align: center;

  background: black;
}

.page__header {
  padding: 0.5rem 0;
  border-bottom: 1px solid #f0f0f0;
}

.page__header h4 {
  margin: 0;
}

.form {
  width: 30rem;
  max-width: 100%;
}

.text--center {
  text-align: center;
}

.form__field {
  margin: 1rem 0;
}

.form__field label {
  display: inline-block;
  padding: 0.25rem 1rem;

  color: #666;
  font-size: 0.75rem;
}

.form__control {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #f0f0f0;

  width: 100%;

  font-size: 1rem;
}

.form__submit {
  margin: 2rem 0;
}

.button {
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  cursor: pointer;

  text-align: center;
  text-decoration: none;

  border-radius: 0.25rem;
}

.button--primary.button--solid {
  color: white;

  background: #000;
}

.button--primary.button--outline {
  border-color: #000;

  color: #000;

  background: transparent;
}

.button__group {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button__group .button {
  flex: 1;

  margin: 0 0.5rem;
}

.button__group .button:first-child {
  margin-left: 0;
}

.button__group .button:last-child {
  margin-right: 0;
}

.placeholder {
  padding: 5rem 0;

  color: #666;
  text-align: center;
}

#toasts {
  position: fixed;
  top: 0rem;
  left: 0;
  padding: 0 1rem;

  width: 100%;
}

.toast {
  margin: 1rem 0;
  padding: 0.5rem;

  border-radius: 0.25rem;

  color: white;

  background: rgba(0, 0, 0, 0.85);
}

.toast:first-child {
  margin-top: 4rem;
}

.toast p {
  margin: 0;
}
